{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{%- block title -%}
  Delete news item: {{ news_item }}
  &mdash; {{ super() }} site editor
{%- endblock -%}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Delete news item: {{ news_item }}</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" action="" method="POST">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}
          {{ wtf.form_field(form.confirmation, form_type="horizontal") }}
          {{ wtf.form_field(form.submit, form_type="horizontal",
                  button_map={"submit":"danger"}) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
