# an example of what you can have at your .env (or heroku config)
# but remember to change the random strings!!!
APPLICATION_SECRET_KEY=zz1seLY1OWjpPxLtSqnAdVmwXfVZ5F57mMkSzggF/sE
APPLICATION_SECURITY_PASSWORD_SALT=qwsLDHIaQ7HQ2/n9t1ryF7XbfM2aBCSedTiJaR/+5Oc
APPLICATION_DATABASE_URL=sqlite:///dev.db
APPLICATION_DEBUG_TB_INTERCEPT_REDIRECTS=false
APPLICATION_SECURITY_PASSWORD_HASH=bcrypt
APPLICATION_SECURITY_URL_PREFIX=/auth
APPLICATION_SECURITY_CHANGEABLE=true
APPLICATION_SECURITY_SECURITY_SEND_PASSWORD_CHANGE_EMAIL=false
